* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url(/webroot/images/background-index-page.webp);
  background-size: cover;
  background-position: center;
  font-family: Lato;
  font-weight: 300;
  position: relative;
  height: 100vh;
  color: white;
}

.page {
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #0081b8;
  -webkit-box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.player-0-panel,
.player-1-panel {
  width: 50%;
  float: left;
  height: 600px;
  padding: 100px;
}

.player-0-panel .player-name,
.player-1-panel .player-name {
  color: white;
  background-color: rgba(46, 220, 255, 0.599);
  border-radius: 2%;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
}

.player-0-panel .player-score,
.player-1-panel .player-score {
  text-align: center;
  font-size: 80px;
  font-weight: 800;
  color: #e04242;
  margin-bottom: 75px;
  margin-top: 25%;
}

.player-0-panel .player-current-box,
.player-1-panel .player-current-box {
  background-color: rgba(46, 220, 255, 0.599);
  border-radius: 20%;
  color: white;
  width: 40%;
  margin: 0 auto;
  padding: 12px;
  text-align: center;
  font-weight: 800;
}

.player-0-panel .player-current-label,
.player-1-panel .player-current-label {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 15px;
  color: white;
}

.player-0-panel .player-current-score,
.player-1-panel .player-current-score {
  font-size: 30px;
}

.active .player-name {
  font-weight: 600;
  border: 5px solid #e04242;
}

.active .player-name ::after {
  font-size: 46px;
  position: absolute;
  color: #EB4D4D;
  top: -7px;
  right: 10px;
}

.active .player-current-box {
  border: 5px solid #e04242;
}

.winner {
  font-weight: 300;
  color: white;
  font-size: 1.1rem;
}

button {
  position: absolute;
  width: 250px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  background: none;
  border: none;
  font-family: Lato;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 650;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

.btn-rules {
  left: 12%;
  font-size: 15px;
}

.btn-rules #diceGameIcons {
  width: 20%;
  margin: 10% 0;
}

button:hover {
  font-weight: 600;
}

button:hover i {
  margin-right: 20px;
}

button:focus {
  outline: none;
}

i {
  color: rgba(46, 220, 255, 0.599);
  display: inline-block;
  margin-right: 15px;
  font-size: 32px;
  line-height: 1;
  vertical-align: text-top;
  margin-top: -4px;
  -webkit-transition: margin 0.3s;
  transition: margin 0.3s;
  text-align: center;
}

.btn-new {
  top: 60px;
  font-weight: 800;
}

.btn-new #iconNewGame {
  width: 15%;
  margin-left: 1vw;
}

.btn-roll {
  top: 250px;
}

.btn-hold {
  top: 300px;
  width: 50vw;
}

.btn-new-winner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 900;
  color: #e04242;
  border: 3px #e04242 solid;
  font-size: 1.2rem;
  text-align: center;
  background-color: white;
  margin-left: 0;
  padding-top: 0.8%;
}

.result {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 425px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 100px;
  font-size: 20px;
  font-weight: 800;
}

.result .instructions {
  margin-top: 5%;
  font-size: 12px;
  text-align: center;
  background-color: #019301;
  width: 100%;
}

.result .instructions .instructionLoose {
  background-color: red;
}

.modal-content {
  color: white;
  font-weight: 600;
  background-color: #0081b8;
}

.modal-content .modal-title {
  font-weight: 800;
  text-align: center;
}

.modal-content .modal-body {
  font-size: 1.2rem;
  text-align: center;
}

@-webkit-keyframes confetti-slow {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
            transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }
  100% {
    -webkit-transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg);
            transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg);
  }
}

@keyframes confetti-slow {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
            transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }
  100% {
    -webkit-transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg);
            transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg);
  }
}

@-webkit-keyframes confetti-medium {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
            transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }
  100% {
    -webkit-transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg);
            transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg);
  }
}

@keyframes confetti-medium {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
            transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }
  100% {
    -webkit-transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg);
            transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg);
  }
}

@-webkit-keyframes confetti-fast {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
            transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }
  100% {
    -webkit-transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg);
            transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg);
  }
}

@keyframes confetti-fast {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
            transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }
  100% {
    -webkit-transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg);
            transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg);
  }
}

.container {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background: rgba(240, 240, 240, 0);
}

.confetti-container {
  -webkit-perspective: 700px;
          perspective: 700px;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.confetti {
  position: absolute;
  z-index: 1;
  top: -10px;
  border-radius: 0%;
}

.confetti--animation-slow {
  -webkit-animation: confetti-slow 2.25s linear 1 forwards;
          animation: confetti-slow 2.25s linear 1 forwards;
}

.confetti--animation-medium {
  -webkit-animation: confetti-medium 1.75s linear 1 forwards;
          animation: confetti-medium 1.75s linear 1 forwards;
}

.confetti--animation-fast {
  -webkit-animation: confetti-fast 1.25s linear 1 forwards;
          animation: confetti-fast 1.25s linear 1 forwards;
}
/*# sourceMappingURL=style.css.map */