button {
  position: absolute;
  width: 250px;
  left: 50%;
  transform: translateX(-50%);
  color: $white;
  background: none;
  border: none;
  font-family: Lato;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 650;
  transition: background-color 0.3s, color 0.3s;
}
  
.btn-rules {
  left: 12%;
  font-size: 15px;
  // width: 40vw;

  #diceGameIcons {
    width: 20%;
    margin: 10% 0;
  }
}

  button:hover { 
    font-weight: 600; 
    
    i { 
      margin-right: 20px; 
    }
  }
  
  button:focus {
    outline: none;
  }
  
  i {
    color: $blue-light;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
    text-align: center;
  }

.btn-new { 
  top: 60px;
  font-weight: 800;
  // margin-top: 1%;

  #iconNewGame {
    width: 15%;
    margin-left: 1vw;
  }
}

.btn-roll { 
  top: 250px;
}

.btn-hold { 
  top: 300px;
  width: 50vw;
}

.btn-new-winner {
  display: flex;
  font-weight: 900;
  color: $red-bold;
  border: 3px $red-bold solid;
  font-size: 1.2rem;
  text-align: center;
  background-color: $white;
  margin-left: 0;
  padding-top: 0.8%;
}